*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.header{
    position:sticky;
    top:0;
    z-index:100;
    background:rgb(188, 184, 184);
    width:100%;
}
.navbar{
    display:flex;
    align-items:center;
    padding:20px;
}
nav{
    flex:1px;
    text-align:right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right:20px;
}
nav ul li a:hover{
    color :rgb(84, 209, 173); 
}
a{
    text-decoration-: none;
    color:black;
}
p{
    color: none;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left:25px;
    padding-right:25px;
    
}
.banner-card{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:left;
    position:relative;
}
.banner-text{
    position:absolute;
}
.banner-card img{
    width:100%;
    height:auto;
}
.banner-text h1{
    font-size: 30px;
    line-height:30px;
    margin:25px 0;
    color:white;
}
.banner-text h2{
    font-size: 50px;
    line-height:30px;
    margin:25px 0;
}
.banner-text h3{
    font-size: 50px;
    line-height:30px;
    margin:25px 0;
    color:hwb(157 10% 35%);
}
.btn{
   display:block;
   background-image: url(images/button.png); 
   width:60%;
   text-align:center;
   padding:8px 30px;
   margin:30px 0px;
   transition: background 0.5s;
}
.btn:hover{
    color :rgb(84, 209, 173);
}
.container{
    padding:2px 16px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px;
    background-color:white(243, 251, 248);
    padding: 10px;
}
.coloured-container{
    background-color: lightgreen;
    padding: 10px;
    margin: 20px;
    width: 150px;
    border-radius: 5px;
} 
.grid-item{
    background-color:white(47, 194, 135, 0.8);
    border:1px solid rgb(210, 230, 221);
    padding: 10px;
    font-size: 15px;
    text-align:center;
    grid-column:(1,2);
    grid-row:(1,2);
    color:rgb(53, 138, 103);
}
.title{
    text-align:center;
    line-height: 50px;
}
.sub-title{
    text-align:center;
    line-height: 20px;
}
.row{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(2,1fr);
    grid-gap: 10px;
    padding: 10px;
    max-width:fit-content;
    margin:10px;
    padding-left:20px;
    padding-right:20px;
}
.col-4{
    border:1px solid;
    border-radius:15px;
    padding:5px;
    margin:10px;
}
.col-4 img{
    width:100%;
    border-radius:15px;
}
.card-image{
    width:30px;
    height:22px;
    background-color:rgb(53, 138, 103);
    border-radius:30px;
    margin-left:300px;
}
.col-4 h4{
    text-align:left;
}
.col-4 p{
    text-align:left;
    color:rgb(11, 99, 176);
    font-size:15px;
} 
.rating .fa{
    color:rgb(253, 253, 6);
}
.banner-card-1{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:left;
    position:relative;
}
.banner-text-1{
    position:absolute;
    color:antiquewhite;
    text-align: center;
    margin:10px;
    padding:400px;
    line-height:50px;
}
.btn-2{
    display:inline;
   text-align:center;
   padding:5px 30px;
   border-radius: 5px;
   background-color: white;
}
.banner-card-1 img{
    width:120%;
}
.bannercard{
    display:flex;
    position:relative;
}
.bannercard img{
    width:700px;
    height:300px;
    margin-left:50px;
    border-radius:15px;
}
.bannertext{
    position:absolute;
    padding:100px;
    margin:10px;
    color:white;
    line-height:30px;
    font-size:20px;
 }
 .bannertext p{
     border:1px solid white;
    text-align:center;
    width:100px;
 }
 .bannertext-1{
    position:absolute;
    padding:100px;
    margin:10px;
    color:white;
    line-height:30px;
    font-size:20px;
    left:50%;
 }
 .bannertext-1 p{
     border:1px solid white;
    text-align:center;
    width:100px;
 }
 .bannercard-1{
    display:flex;
    position:relative;
    margin-top:20px;
}
.bannercard-1 img{
    width:400px;
    margin-left:50px;
    border-radius:15px;
}
.bannertext-2{
    position:absolute;
    padding:100px;
    margin:10px;
    color:white;
    line-height:30px;
    font-size:30px;
 }
 .bannertext-3{
    position:absolute;
    padding:100px;
    margin:10px;
    color:white;
    line-height:30px;
    font-size:30px;
    left:27%;
 }
 .bannertext-4{
    position:absolute;
    padding:100px;
    margin:10px;
    color:white;
    line-height:30px;
    font-size:30px;
    left:57%;
 }
.bottom { 
     position: relative;
     display: inline-block;
 } 
.bottom img {
     width: 120%; 
     height:auto;
     margin-top: 10px;
} 
.bottom h2{ 
        position: absolute;
        top: 50%; 
        left: 10%;
        transform: translate(-50%, -50%); 
        color: white; 
        font-size: 24px;
        text-align:left;
}
.bottom h5{
    position:absolute;
    right:-3%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color: bisque;
    padding:10px 80px;
    margin:20px;
}
.bottom h6{
    position:absolute;
    right:-2%;
    top:53%;
    transform: translate(-50%, -50%);
    background-color: rgb(17, 191, 118);
    padding:13px 31px;
    margin:9px;
}
.bottom p { 
    position: absolute;
    top: 60%; 
    left: 23%;
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 24px;
    text-align: left;
}
.footer{
    padding:0px;
    margin:0px;
    line-height:30px;
    display:flex;
}
.col-1{
    margin-left:-100px;
}
.col-5{
   margin-left:80px;
}
.app-logo{
    margin-top:20px;
}
.app-logo img{
    width:140px;
    border:1px solid;
    border-radius:5px;
}
.menu-icon{
    width:28px;
    margin-left:20px;
    display:none;
}
@media only screen and (max-width:800px){

.nav ul li{
        display:block;
        margin-right:50px;
        margin-top:10px;
        margin-bottom:10px;
    }
.menu-icon{
        display:block;
        cursor:pointer;
    }
.grid-container,.row,.bannercard,.bannercard-1{
    display:block;
}
.bottom{
    text-align: center;
    line-height: 35px;
}
.banner-text-1{
    display:block;
    text-align:center;
    font-size: 15px;
    line-height: 30px;
}
.footer{
    display:block;
    text-align:center;
}
}

